@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;    
    font-family: 'Syne', sans-serif;
}

/* Limpiar propiedades que vienen por default */
a{
    text-decoration: none;
    color: black;
}

/* BODY - LÍNEAS VERTICALES */
body .lineaIzquierda{
    border-left: 0.12rem solid white;
    height: 1000vh;
    position: absolute;
    left: 7.3%;
    margin-left: -4;
    opacity: 0.3;  
    z-index: 10; 
}
body .lineaDerecha{
    border-left: 0.12rem solid white;
    height: 1000vh;
    position: absolute;
    right: 8.4%;
    margin-left: -4;
    opacity: 0.3;
    z-index: 10;
}

/* TITULO IZQUIERDA */



/* HEADER */
header{       
    position: fixed;
    /* background-color: black; */
    background: linear-gradient(180deg,
    rgba(27, 27, 27, 1) 30%,   
    rgba(25, 25, 25, .7) 75%,
    rgba(25, 25, 25, 0) 100%);
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    width: 100%;
    height: 20vh;  
    z-index: 5;  
    /* border: 2px solid white; */
}
header h1{
    font-size: 2rem;
    color: white;
    font-weight: 800;
    
}
header nav{    
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    /* border: 2px solid white; */
}
header nav a{    
    font-size: 1.4rem;
    position: relative;
    color: white;  
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 0.1rem;
    cursor: pointer;
}
a::after{
    content: "";
    position: absolute;
    background-color: #68E9CF;
    height: 0.2rem;
    width: 0;
    left: 0;
    bottom: -0.3rem; 
    transition: 0.3s;   
}
header nav a:hover::after{
    width: 100%;
}

header .barras{
    height: 6vh;
    width: 8%;   
    display: flex;    
    justify-content: center;
    align-items: center; 
    flex-direction: column;  
    /* border: 2px solid white; */    
}
header .barras div{    
    padding: 4% 2% 4% 2%;
}
header .barras .uno{    
    width: 6rem;
    height: 0.2rem;
    background: white;    
}
header .barras .dos{    
    width: 6rem;
    height: 0.2rem;
    background: white;    
}


/* SECCIÓN 1 - HERO */
.hero{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(360deg,
    rgba(27, 27, 27, 1) 3%,
    rgba(26, 26, 26, .8) 30%,
    rgba(25, 25, 25, .4) 45%,
    rgba(25, 25, 25, 0) 100%);
}
.hero:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 120%;
    height: 120vh;
    background-image: url(../img/05.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;    
   }
.hero .heroGeneral{ 
    padding: 12% 2% 18% 2%;
    display: flex; 
    justify-content: space-between; 
   /*  border: 2px solid white; */
}
.hero .heroGeneral .contenidoHero{
    padding-top: 7%;
    margin-left: 5.5%;
    display: flex;      
    flex-direction: column;
    justify-content: center;
    align-items: center;   
   /*  border: 4px solid paleturquoise; */
}
.hero .heroGeneral .contenidoHero .contenidoHeroDos{
   height: 90vh;  
  /*  border: 4px solid paleturquoise; */
}

.hero .tituloIzquierda{
    padding-bottom: 5%;     
}
.hero .tituloIzquierdaUno{
    display: flex;        
}
.hero .contenidoHero .tituloIzquierda h1{    
    font-size: 6rem;
    color: white;
    font-weight: 800;
}
.hero .contenidoHero .tituloIzquierda .hUnoVerde{  
    padding-right: 1%;  
    color: #68E9CF;    
}
.hero .contenidoHero h2{
    padding-bottom: 5%;
    font-size: 2.5rem;
    color: white;
    font-weight: 600; 
}
.hero .contenidoHero p{
    font-size: 2.2rem;
    color: #C3C3C3; 
    width: 80%; 
    padding-bottom: 5%;    
}
.hero .imgHero{    
    display: flex;
    justify-content: flex-end;
    width: 80%;
    background-size: 85vh; 
    margin-right: 3%;
   /*  border: 2px solid chartreuse; */
} 
.hero .imgHero img{
    height: 100vh;
    z-index: -1;
}

/* Sección 1 - DescargarCV */
.hero .descargarCV{
    padding-top: 10%;
    margin-left: 0;
    width: 40%;
    /* border: 2px solid rgb(255, 255, 255);  */
}

.hero .descargarCV div{    
    height: 7rem;
    width: 7rem;
    border-radius: 50%; 
    background: none;
    border: 2px solid rgb(104, 224, 207);
}

.hero .descargarCV p{
    font-size: 2rem;   
    color: white;
    left: 17%;
    position: relative;
    top: -3.5rem;
}
.hero .contenidoHeroDos i{
    font-size: 2rem;
} 



/* SECCIÓN 2 - ACERCA DE */

.acercaDe{
    padding: 15% 2.5% 7% 2.5%;    
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
   /*  border: 2px solid rgb(202, 37, 37);  */
}
.acercaDe .container{
    padding: 0 4.8% 0 5%; 
    height: 100vh;   
   /*  border: 2px solid rgb(255, 255, 255); */
}

/* sección 2 - Título Izquierda */

.acercaDe .tituloIzquierda h1{          
    font-size: 5rem;
    color: white;
    font-weight: 800;
}
.acercaDe .tituloIzquierda h3{      
    font-size: 2.6rem;
    padding-bottom: 5%;    
    color: #68E9CF;
    font-weight: 600; 
    /* border: 2px solid rgb(255, 255, 255); */
}

/* sección 2 - contenido */
.acercaDe .acercaDeContenido{    
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    height: 55vh;  
    /* border: 2px solid rgb(255, 255, 255); */ 
}
.acercaDe .acercaDeContenido .acercaDeContenidoLorem{
    width: 100%;
    font-size: 2.2rem;
    margin-right: 10%;
    margin-bottom: 5.7%;
    color: #ECECEC;    
    /* border: 2px solid rgb(255, 255, 255);  */   
}
.acercaDe .acercaDeContenido .acercaDeContenidoDataUno{
    width: 100%;    
    /* border: 2px solid rgb(255, 255, 255); */  
}
.acercaDe  .acercaDeContenidoData{
    display: flex;
    flex-direction: column;
    height: 48vh; 
    width: 80%;      
    color: white;
}
.acercaDe .acercaDeContenidoDataUno{
    display: flex;
    justify-content: space-around;    
}
.acercaDe .acercaDeContenidoDataUno .uno{
    margin-bottom: 20%;
}
.acercaDe .acercaDeContenidoDataUno p{
    color: white;
    font-size: 2rem;    
}
.acercaDe .acercaDeContenidoDataUno h3{
    color: rgb(104, 224, 207);
    font-size: 2.2rem;    
}
.acercaDe .acercaDeContenidoDataUnoBis{ 
    padding: 8% 0 8% 0;   
    display: flex;
    flex-direction: column;   
    width: 100%; 
   /*  border: 2px solid rgb(255, 255, 255); */
}
.acercaDe .acercaDeContenidoDataDos{
    padding: 8% 0 8% 2%;
    display: flex; 
    flex-direction: column; 
    width: 100%;
    /* border: 2px solid rgb(255, 255, 255);    */ 
}

/* sección 2 - contenido Redes */

.acercaDe .acercaDeContenidoRedes{
    display: flex;    
    /* border: 2px solid rgb(255, 255, 255); */   
}
.acercaDe .acercaDeContenidoRedes .redes{
    padding-right: 5%;
    background: none;
    /* border: 2px solid rgb(255, 255, 255);  */
}
.acercaDe .acercaDeContenidoRedes .redes div{     
    background-color: white;
    color: rgb(104, 224, 207);
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: flex;   
    justify-content: center; 
    align-items: center;   
    font-size: 2rem;
    border: none;     
}
.acercaDe .acercaDeContenidoRedes .redes .circuloVerde{
    background-color: #68E9CF; 
    color: white;   
}

/* sección 2 - Descargar CV */
.acercaDe .descargarCV{
    margin-left: 0;
    width: 30%;
    /* border: 2px solid rgb(255, 255, 255);  */
}
.acercaDe .descargarCV div{    
    height: 7rem;
    width: 7rem;
    border-radius: 50%; 
    background: none;
    border: 2px solid rgb(104, 224, 207);    
}
.acercaDe .descargarCV p{ 
    font-size: 2rem;   
    color: white;
    left: 13%;
    position: relative;
    top: -3.5rem;
}
.acercaDe .container .descargarCV i{
    font-size: 2rem;            
}






/* SECCIÓN 3 - ESPECIALIZACIÓN */


.especializacion{
    padding: 15% 2.5% 0 2.5%;   
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    /* border: 2px solid rgb(255, 255, 255); */
}
.especializacion .container{
    padding: 10% 4.8% 0 4.8%;      
    height: 100vh;   
    /* border: 2px solid rgb(255, 255, 255);  */
}

/* Sección 3 - Título Izquierda */
.especializacion .tituloIzquierda{
    padding-bottom: 1%;
}
.especializacion .tituloIzquierda h1{          
    font-size: 5rem;
    color: white;
    font-weight: 800;
}
.especializacion .tituloIzquierda h3{      
    font-size: 2.6rem;
    padding-bottom: 5%;    
    color: #68E9CF;
    font-weight: 600; 
}

/* Sección 3 - Contenido */

.especializacion .especializacionContenido{
    display: flex;
    justify-content: space-around;
    align-items: center;
   /*  border: 2px solid rgb(255, 255, 255); */ 
}
.especializacion .especializacionContenido .especializacionContenidoBis{ 
    display: flex;
    color: white;   
    height: 50vh;
    width: 30%;
    /* border: 2px solid rgb(255, 255, 255); */
}
.especializacion .especializacionContenido .especializacionContenidoBisBeta{     
    display: flex;
    color: white;
    height: 50vh;
    width: 30%;
    background: linear-gradient(to right, #68E093, #68E9CF);    
    /* border: 2px solid rgb(255, 255, 255); */
}
.especializacion .especializacionContenido .especializacionContenidoBisBeta .uno span{
    margin-top: 55%;
    width: 100%;   
    font-size: 4rem;
    height: 0.2rem;
    /* border: 5px solid rgb(255, 255, 255); */
}
.especializacion .especializacionContenido .especializacionContenidoBisBeta .dos{ 
    padding-top: 5%;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(255, 255, 255); */
}
.especializacion .especializacionContenido .especializacionContenidoBis .dos{ 
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(255, 255, 255); */
}
.especializacion .especializacionContenido .especializacionContenidoBis .uno span{
    margin-top: 55%;
    width: 100%;   
    font-size: 4rem;
    height: 0.2rem;
    /* border: 5px solid rgb(255, 255, 255); */
}
.especializacion .especializacionContenido .dos h1{
    margin-bottom: 15%;   
    font-size: 2.5rem;
    font-weight: 800;
    /* border: 2px solid rgb(255, 255, 255); */
} 
.especializacion .especializacionContenido .dos p{  
    margin: 0 4% 0 0;  
    font-size: 1.5rem;    
   /*  border: 2px solid rgb(255, 255, 255); */
} 
.especializacion .especializacionContenido .dos .numero{  
    display: flex;
    justify-content: flex-end; 
    font-size: 10rem; 
    -webkit-text-stroke: 2px white;
    color: transparent;
    /* border: 2px solid rgb(255, 255, 255); */
} 

/* sección 3 - flechitas */
.especializacion .flechitas{  
    padding-left: 84%;
    height: 15vh;
    display: flex;
    width: 15%;    
    align-items: center;    
    /* border: 2px solid rgb(255, 255, 255); */
}
.especializacion .flechitas div{
    margin: 0 5% 0 5%;      
}
.especializacion .flechitas .flechitaUno{    
    position: relative;
    left: 4%;
    background-color: #68E093;  
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    opacity: 0.5;   
}
.especializacion .flechitas .spanUno{
    display: flex;
    position: absolute;
    left: 84%; 
    /* border: 2px solid rgb(255, 255, 255); */      
}
.especializacion .flechitas .flechitaDos{   
    background-color: #68E9CF;  
    height: 5rem;
    width: 5rem;
    border-radius: 50%;   
}
.especializacion .flechitas .spanDos{
    display: flex;
    position: absolute;
    right: 14%; 
    opacity: 0.5;   
    rotate: 180deg; 
    /* border: 2px solid rgb(255, 255, 255); */    
}
.especializacion .flechitas span{
    color: white;
    font-size: 1rem;
    transform: scale(6, 4);
    z-index: 2;
}





/* SECCIÓN 4 - EXPERIENCIA */
.experiencia{    
    display: flex;
    flex-direction: column;    
    background-color: rgb(27, 27, 27);
   /*  border: 2px solid rgb(255, 255, 255); */
}
.experiencia .container{
    margin: 17% 8.4% 0 7.3%;
    height: 180vh;
    /* border: 2px solid rgb(0, 0, 0); */
}

/* Sección 4 - Título Derecha */

.experiencia .tituloDerecha{
    display: flex; 
    justify-content: flex-end;    
}
.experiencia .tituloDerecha h1{          
    font-size: 5rem;
    color: white;
    font-weight: 800;
}
.experiencia .tituloDerecha h3{      
    font-size: 2.6rem;
    padding-bottom: 20%;    
    color: #68E9CF;
    font-weight: 600; 
    display: flex;
    justify-content: flex-end;
}


/* Sección 4 - Rectángulos */

.experiencia .experienciaDatos{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid rgb(12, 248, 83); */
}
.experiencia .experienciaDatos .experienciaDatosUno{      
    width: 50%;
    /* border: 2px solid rgb(255, 6, 6); */
}
.experiencia .experienciaDatos .experienciaDatosUno .datosUnoBis{  
    margin: 3% 3% 10% 0;
    height: 55vh;
    border: 2px solid rgb(0, 0, 0);
}
.experiencia .experienciaDatos .experienciaDatosUno .datosUnoBis div{ 
    position: relative;
    width: 85%;
    margin: 13% 10% 17% 10%;
    /* border: 2px solid rgb(0, 0, 0); */
}
.experiencia .experienciaDatos .experienciaDatosDos{ 
    padding-top: 7%;
    width: 50%;
    /* border: 2px solid rgb(248, 31, 31); */
}
.experiencia .experienciaDatos .experienciaDatosDos .datosDosBis{ 
    margin: 3% 0 10% 3%;
    height: 55vh;
    border: 2px solid transparent; 
}
.experiencia .experienciaDatos .experienciaDatosDos .datosDosBis div{ 
    margin: 13% 10% 17% 10%;
    position: relative;
    width: 85%;
    /* border: 2px solid rgb(0, 0, 0); */
}
.experiencia .experienciaDatos div h3{
    font-size: 3rem;
    margin-bottom: 5%;    
    /* border: 2px solid rgb(0, 0, 0); */
}
.experiencia .experienciaDatos div h4{   
    font-size: 1.5rem;
    line-height: 1.5;    
   /*  border: 2px solid rgb(0, 0, 0); */
}
.experiencia .experienciaDatos div p{
    padding: 7% 5% 0 0;
    font-size: 1.5rem; 
    /* border: 2px solid rgb(0, 0, 0); */
}
.experiencia .experienciaDatos .color{     
    color: white;
    background: linear-gradient(to right, #68E093, #68E9CF);     
}
.experiencia .experienciaDatos .blanco{ 
    color: #68E9CF;
    background-color: white;
}




/* SECCIÓN 5 - HABILIDADES */
.habilidades{
    padding: 10% 2.5% 0 2.5%; 
    background-color: black;
    /* background-color: rgb(211, 92, 92);
    border: 2px solid rgb(255, 255, 255); */
}
.habilidades .container{
    padding: 10% 6% 0 4.8%;      
    height: 100vh;   
    /* border: 2px solid rgb(255, 255, 255);  */
}
.habilidades .habilidadesTotales{    
    display: flex;
    justify-content: center;
}

/* Sección 5 - Título Izquierda */
.habilidades .tituloIzquierda{
    padding-bottom: 1%;
}
.habilidades .tituloIzquierda h1{          
    font-size: 5rem;
    color: white;
    font-weight: 800;
}
.habilidades .tituloIzquierda h3{      
    font-size: 2.6rem;
    padding-bottom: 5%;    
    color: #68E9CF;
    font-weight: 600; 
}

/* Sección 5 - Habilidades */
.habilidades .container .habilidadesTotales{
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid rgb(255, 255, 255); */
}
.habilidades .container .habilidadesTotales .data{
    color: white;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid rgb(255, 255, 255); */
}
.habilidades .container .habilidadesTotales .data h1{
    font-size: 2.5rem;
    /* border: 2px solid rgb(255, 255, 255); */
}
.habilidades .container .habilidadesTotales .data h2{
    font-size: 1.8rem;
    /* border: 2px solid rgb(255, 255, 255); */
}
.habilidades .container .habilidadesTotales .barraBlanca{ 
    margin-bottom: 2%;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2vh;
    background-color: white;
    /* border: 2px solid rgb(255, 255, 255); */
}
.habilidades .container .habilidadesTotales .habilidadesUno{
    width: 49%;
    /* border: 2px solid rgb(255, 255, 255); */
}
.habilidades .container .habilidadesTotales .habilidadesDos{
    width: 49%;
    /* border: 2px solid rgb(255, 255, 255); */
}

/* Sección 5 - Barras de grado de conocimiento */
.habilidades .container .habilidadesTotales .barraHtml{  
    width: 80%;
    height: 2vh;
    background: linear-gradient(to right, #68E9CF, #68E093);
}
.habilidades .container .habilidadesTotales .barraCss{  
    width: 70%;
    height: 2vh;
    background: linear-gradient(to right, #68E9CF, #68E093);
}
.habilidades .container .habilidadesTotales .barraLaravel{  
    width: 50%;
    height: 2vh;
    background: linear-gradient(to right, #68E9CF, #68E093);
}
.habilidades .container .habilidadesTotales .barraVueJs{  
    width: 30%;
    height: 2vh;
    background: linear-gradient(to right, #68E9CF, #68E093);
}

/* Sección 5 - DescargarCV */
.habilidades .descargarCV{
    /* padding-top: 10%; */
    margin-left: 79%;
    width: 40%;
    /* border: 2px solid rgb(255, 255, 255);  */
}
.habilidades .descargarCV div{ 
    position: relative; 
    left: 7%;
    height: 7rem;
    width: 7rem;
    border-radius: 50%; 
    background: none;
    border: 2px solid rgb(104, 224, 207);
}
.habilidades .descargarCV p{
    font-size: 2rem;   
    color: white;
    left: 17%;
    position: relative;
    top: -3.5rem;
}
.habilidades .contenidoHeroDos i{
    font-size: 2rem;
} 





/* SECCIÓN 6 - PORTFOLIO */
.portfolio{    
    background-color: rgb(27, 27, 27);
}
.portfolio .container{
    padding: 10% 8.4% 0 7.3%;      
    height: 100vh;   
    /* border: 2px solid rgb(255, 255, 255); */
}

/* Sección 6 - Título Derecha */

.portfolio .tituloDerecha{
    display: flex; 
    justify-content: flex-end;    
}
.portfolio .tituloDerecha h1{          
    font-size: 5rem;
    color: white;
    font-weight: 800;
}
.portfolio .tituloDerecha h3{      
    font-size: 2.6rem;
    padding-bottom: 20%;    
    color: #68E9CF;
    font-weight: 600; 
    display: flex;
    justify-content: flex-end;
}

/* Sección 6 - Muestras de trabajos */
.portfolio .portfolioMuestra{
    display: flex;
    justify-content: space-between;    
}
.portfolio .portfolioMuestra img{
    box-shadow: 0rem .5rem 1rem rgb(163, 162, 162);
    height: 35vh;
}
.portfolio .portfolioMuestra .portfolioMuestraUno{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 48.5%;
    background-color: rgb(220, 223, 230);    
}
.portfolio .portfolioMuestra .portfolioMuestraDos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 48.5%;
    background-color: rgb(245, 236, 219);    
}

/* sección 6 - flechitas */
.portfolio .flechitas{  
    padding-left: 85%;
    height: 15vh;
    display: flex;
    width: 15%;    
    align-items: center;    
    /* border: 2px solid rgb(255, 255, 255); */
}
.portfolio .flechitas div{
    margin: 0 5% 0 5%;      
}
.portfolio .flechitas .flechitaUno{    
    position: relative;
    left: 4%;
    background-color: #68E093;  
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    opacity: 0.5;   
}
.portfolio .flechitas .spanUno{
    display: flex;
    position: absolute;
    left: 84%; 
    /* border: 2px solid rgb(255, 255, 255); */      
}
.portfolio .flechitas .flechitaDos{   
    background-color: #68E9CF;  
    height: 5rem;
    width: 5rem;
    border-radius: 50%;   
}
.portfolio .flechitas .spanDos{
    display: flex;
    position: absolute;
    right: 14%; 
    opacity: 0.5;   
    rotate: 180deg; 
    /* border: 2px solid rgb(255, 255, 255); */    
}
.portfolio .flechitas span{
    color: white;
    font-size: 1rem;
    transform: scale(6, 4);
    z-index: 2;
}




/* SECCIÓN 7 - CONTACTO */
.contacto{
    background-color: darkcyan;
}
.contacto .contenidoMapa{
    display: flex;
    justify-content: center;
}