header{
    background-color: aqua;
}
.hero{
    background-color: aquamarine;
}
.acercaDe{
    background-color: rgb(218, 218, 137);
}
.especializacion{
    background-color: cadetblue;
}
.experiencia{
    background-color: coral;
}
.habilidades{
    background-color: cyan;
}
.portfolio{
    background-color: cornflowerblue;
}
.contacto{
    background-color: darkcyan;
}