@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;    
    font-family: 'Syne', sans-serif;
}

/* Limpiar propiedades que vienen por default */
a{
    text-decoration: none;
    color: black;
}

/* HEADER */
header{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}

/* Sección 1 - HERO */
.hero{    
    display: flex;
    background-image: url(../img/fondo.jpg);
    /* overflow: hidden; */
}


/* Sección 2 - ACERCA DE */
.acercaDe{
    background-color: rgb(218, 218, 137);
    display: flex;
    flex-direction: column;
}
.acercaDe .acercaDeContenido{
    display: flex;
}
.acercaDe  .acercaDeContenidoData{
    display: flex;
    flex-direction: column;    
}
.acercaDe .acercaDeContenidoDataUno{
    display: flex;       
}
.acercaDe .acercaDeContenidoDataDos{
    display: flex;       
}
.acercaDe .acercaDeContenidoRedes{
    display: flex;
}
.acercaDe .acercaDeContenidoRedes div{    
    background-color: white;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.acercaDe .acercaDeContenidoRedes .circuloVerde{
    background-color: #68E9CF;    
}

/* Sección 3 - ESPECIALIZACIÓN */
.especializacion{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}
.especializacion .especializacionContenido{
    display: flex;
}
.especializacion .flechitas{
    display: flex;
    justify-content: flex-end;
}

/* Sección 4 - EXPERIENCIA */
.experiencia{
    background-color: coral;
}

/* Sección 5 - HABILIDADES */
.habilidades{
    background-color: cyan;
}

/* Sección 6 - PORTFOLIO */
.portfolio{
    background-color: cornflowerblue;
}

/* Sección 7 - CONTACTO */
.contacto{
    background-color: darkcyan;
}